<div class="un-page-standard un-page-sidebar">
    
            <div class="un-container">
        
                <div class="un-col-md-8 un-content">
        
	      		    <div class="un-item-page">
                  
                <div class="un-page-caption un-shadow">
                
                	<div class="un-share-mask"></div>
                	
                    <ul class="un-list-share un-list-share-side">
                    
                  	<li><a href="#"><i class="un-icon-social-twitter"></i></a></li>
                      <li><a href="#"><i class="un-icon-facebook"></i></a></li>
                      <li><a href="#"><i class="un-icon-google-plus"></i></a></li>
                      <li><a href="#"><i class="un-icon-pinterest"></i></a></li>
                    </ul>
                
<div class="un-page-head">
  <div class="un-page-title">page with sidebar</div>
  <div class="un-divider-center"></div>
</div>
                    
                    <div class="un-page-content">
                    
                    <p>Vivamus suscipit nisi a mauris <em>ultricies</em> feugiat. Donec orci risus, suscipit et <strong>consectetur</strong> et, placerat maximus tortor. Curabitur condimentum luctus facilisis. Ut <strong>condimentum</strong> orci neque, quis tincidunt nisi tristique sed.</p>

					<blockquote>Remember that <a href="#">#life</a> is neither pain nor pleasure; it is serious business, to be entered upon with courage and in a spirit of <strong>self-sacrifice.</strong></blockquote>
                    
                    <p>Suspendisse tristique arcu et massa ornare blandit quis id nulla. Suspendisse nec <a href="#">condimentum lorem</a>. Praesent porttitor rutrum sem et convallis. Sed nunc turpis, volutpat quis nulla ac, sagittis sagittis massa.</p>

					<p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Aliquam erat volutpat. Ut augue dui, lacinia scelerisque lacinia quis, elementum in elit. Aenean <strong>lobortis</strong> enim quis lacus ultrices eget aliquet odio scelerisque. Cras <strong>fermentum</strong> blandit dolor aliquet tincidunt. Etiam suscipit metus id turpis laoreet lobortis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                    
                    <h3>UNORDERED LIST</h3>
                    
                    <p>Integer fermentum, orci et <strong>ullamcorper</strong> vulputate, dolor massa sagittis erat. Proin elementum sem ut eleifend gravida. Nulla eu porta purus. Mauris lobortis mi vel <a href="#">faucibus</a>.</p>
                    
                    <ul class="un-list">
                    	
                        <li><span>Fusce lacus ante</span></li>
                        <li><span>Maecenas <em>aliquam</em> ut tellus</span></li>
                        <li><span>Praesent non mi in dui imperdiet</span></li>
                        <li><span>Vivamus ultrices</span></li>
                        <li><span>Nunc sed mauris a urna <em>dignissim</em></span></li>
                    
                    </ul>
                    
                    <h3>ORDERED LIST</h3>
                    
                    <p>Pusce lacus ante, <strong>tempus</strong> vel venenatis vitae, gravida ut sapien. In vel lectus et massa facilisis pellentesque. Sed semper tincidunt justo eu blandit. Cras id bibendum ipsum, sed auctor sapien. 
Nam vehicula finibus mi, in sodales urna <strong>bibendum</strong> in.</p>
                    
                   	<ol class="un-list">
                    
                    	<li>Consectetur adipiscing elit</li>
                        <li>Ut consectetur leo at nulla congue lobortis</li>
                        <li>Quisque nec <em>libero</em></li>
                        <li>Duis suscipit diam in est porta</li>
                        <li>Interdum <strong>tincidunt</strong></li>                        
                        
                    </ol>
                    
                    
                    </div>
                                        
                    <div class="un-page-info">
                                            
                        <div class="un-page-stats un-pull-right">
                        	<span class="un-page-views"><i class="un-icon-eye"></i>575</span>
                        </div>
                        
                        <div class="un-clearfix"></div>
                    	
                    </div><!-- end page meta / stats -->
                            
            	</div><!-- end page content -->
                
			</div>
        	
                
                </div>
                
                <aside class="un-col-md-4 un-sidebar">

                	    <ul class="un-list-widgets">
    
    	    	<li class="un-item-widget un-widget-about un-shadow">
        
        	<div class="un-widget-title">about<span class="un-dot">.</span>me</div>
            
            <div class="un-widget-about-photo">
            
            	<img src="img/media/widget-about/img1.jpg" alt="">
                
            </div>
            
            <div class="un-divider-center"></div>
            
            <div class="un-widget-about-exc">Vivamus suscipit nisi a mauris ultricie feugiat. Donec orci risus, suscipit et <strong>consectetur</strong> et, placerat  tortor.</div>
            
            <div class="un-btn-more un-btn-style-2"><a href="#">get in touch<i class="un-icon-feather"></i></a></div>
        	
        </li><!-- end widget about-->
        
    	        <li class="un-item-widget un-widget-stats">
        
        	<div class="un-widget-title"><span class="un-line">blog<span class="un-dot">.</span>stats</span></div>
            
            <div class="un-widget-bar"><span class="un-widget-bar-label">posts</span>
            	<span id="un-widget-bar-1" class="un-widget-bar-count">2.345</span></div>
                
            <div class="un-widget-bar"><span class="un-widget-bar-label">media</span>
            	<span id="un-widget-bar-2" class="un-widget-bar-count">1.874</span></div>
                
            <div class="un-widget-bar"><span class="un-widget-bar-label">videos</span>
            	<span id="un-widget-bar-3" class="un-widget-bar-count">742</span></div>
                
            <div class="un-widget-bar"><span class="un-widget-bar-label">podcats</span>
            	<span id="un-widget-bar-4" class="un-widget-bar-count">2.100</span></div>
                
            <div class="un-widget-bar"><span class="un-widget-bar-label">comments</span>
            	<span id="un-widget-bar-5" class="un-widget-bar-count">10.456</span></div>
            
        </li><!-- end widget stats-->
        
    	        <li class="un-item-widget un-widget-posts un-shadow">
        
        	<div class="un-widget-title">popular<span class="un-dot">.</span>posts</div>
            
            <div class="un-widget-post">
            	
                <div class="un-widget-post-image">
                	<img src="img/media/widget-post/img1.jpg" alt="">
                	<div class="un-item-overlay-3"></div><div class="un-item-more-icon"><a href="#"><i class="un-icon-search"></i></a></div>
                </div>
                
                <div class="un-widget-post-title"><a href="#">play your trip with joy</a></div>
                <div class="un-widget-post-exc">Vivamus suscipit nisi e quis arcu et massa ultrie feugiat ad ferem.</div>
                
                <div class="un-divider un-pull-left"></div>
                <div class="un-widget-post-date un-pull-right">Feb 17, 2015</div>
                
                <div class="un-clearfix"></div>
                
            </div>
            
            <div class="un-widget-post">
            	
				<div class="un-widget-post-image">
                	<img src="img/media/widget-post/img2.jpg" alt="">
                	<div class="un-item-overlay-3"></div><div class="un-item-more-icon"><a href="#"><i class="un-icon-search"></i></a></div>
                </div>
                
                <div class="un-widget-post-title"><a href="#">just do it</a></div>
                <div class="un-widget-post-exc">Sed ut perspiciatis unde omnis mauris nisi tristiqu iste natus error sit voluptatem.</div>
                
                <div class="un-divider un-pull-left"></div>
                <div class="un-widget-post-date un-pull-right">Feb 15, 2015</div>
                
                <div class="un-clearfix"></div>
                
            </div>
            
            <div class="un-widget-post">
            	
				<div class="un-widget-post-image">
                	<img src="img/media/widget-post/img3.jpg" alt="">
                	<div class="un-item-overlay-3"></div><div class="un-item-more-icon"><a href="#"><i class="un-icon-search"></i></a></div>
                </div>
                                
                <div class="un-widget-post-title"><a href="#">the healty living</a></div>
                <div class="un-widget-post-exc">Vivamus suscipit nisi a mauris mauris nisi tristiqu ultrie feugiat ad ferem.</div>
                
                <div class="un-divider un-pull-left"></div>
                <div class="un-widget-post-date un-pull-right">Feb 13, 2015</div>
                
                <div class="un-clearfix"></div>
                
            </div>
        
        </li><!-- end widget posts-->

    	        <li class="un-item-widget un-widget-social">

        	<div class="un-widget-title"><span class="un-line">follow<span class="un-dot">.</span>me</span></div>
            
            <ul class="un-widget-list-social">
            	
            	<li><a href="#"></a><i class="un-icon-social-twitter"></i></li>
            	<li><a href="#"></a><i class="un-icon-facebook"></i></li>
            	<li><a href="#"></a><i class="un-icon-google-plus"></i></li>
            	<li><a href="#"></a><i class="un-icon-instagram"></i></li>
            	<li><a href="#"></a><i class="un-icon-pinterest"></i></li>
            	<li><a href="#"></a><i class="un-icon-rss"></i></li>
            
            </ul>
        
        </li><!-- end widget socials-->

    	        <li class="un-item-widget un-widget-stream">
        
        	<div class="un-widget-title">instagram</div>
            
            <div class="un-widget-grid-photo">
            
                <div class="un-widget-photo"><a href="#"><img src="img/media/widget-stream/img1.jpg" alt=""></a></div>
                <div class="un-widget-photo"><a href="#"><img src="img/media/widget-stream/img2.jpg" alt=""></a></div>
                <div class="un-widget-photo"><a href="#"><img src="img/media/widget-stream/img4.jpg" alt=""></a></div>
                <div class="un-widget-photo un-photo-double"><a href="#"><img src="img/media/widget-stream/img3.jpg" alt=""></a></div>
                <div class="un-widget-photo"><a href="#"><img src="img/media/widget-stream/img6.jpg" alt=""></a></div>
                <div class="un-widget-photo"><a href="#"><img src="img/media/widget-stream/img8.jpg" alt=""></a></div>
                
                <div class="un-clearfix"></div>
            
            </div>
        
        </li><!-- end widget stream-->
        
    </ul><!-- end list widgets -->
                
                </aside>
                
                <div class="un-clearfix"></div>
        
            </div>
            
        </div>



<div class="un-page-home un-home-vertical un-social-full">
  <div class="un-home-sidebar">
    <h2><%= @user.try(:name) %></h2>
    <%= link_to 'View Posts', posts_path %> |
    <%= link_to 'Add Post', new_post_path %>
  	<div class="un-clearfix"></div>
  </div>
</div>


