<div class="un-page-standard un-page-sidebar">
  <div class="un-container">
    <div class="un-col-md-8 un-content">
      <div class="un-item-post un-item-medium">
        <%= render 'form' %>
        <br />
        <%= link_to 'Back', posts_path %>
      </div>
    </div>
  </div>
</div>
