.top-border {
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #65a9b6;
}

.ch4 {
    font-weight: bold;
}

.un-sticky-hash a {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.un-logo-sticky a,
.un-logo-left a {
    font-family: Roboto Condensed;
    color: #474A54;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 0 15px;
    clear: both;
}

.un-logo-sticky a span {
    color: #65A9B6;
    margin-left: -9px;
}

.lSSlideOuter {
    position: relative;
    z-index: -2;
    margin-top: -50px;
    margin-bottom: 50px;
}

.un-logo-sticky div::first-letter,
.un-logo-left div::first-letter { 
    color: #65a9b6;
}