    <footer class="un-footer">
        <div class="un-container">
            <div class="un-btn-top">
                <i class="un-icon-keyboard-arrow-up"></i>
            </div>
            <div class="un-logo-footer">
                <span class="un-logo-sticky"><a href="#"><span>news</span>able</a></span>
            </div>
            <div class="un-copy">© 2016 <a href="#">Miller</a> Team - All Rights Reserved</div>
        </div>
    </footer>