<!DOCTYPE html>
<html>
<head>
  <title>Newsable</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
    <link href="/assets/css/skin.less" rel="stylesheet/less" >
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <script src="/assets/js/less.min.js"></script>
    <%= csrf_meta_tags %>
</head>
<body>

  <div id="un-wrap">
    <%= yield %>
  </div>

</body>
</html>
